.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.menu-box {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    color: #0073ff;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.menu-box:hover {
    background: #0073ff;
    color: white;
    transform: scale(1.03);
}
